
.album {
    display:grid;
    grid-gap:75px;
    margin-top:10%;
  }
  
  
  #album-info {
    display:grid;
    grid-gap:30px;
    grid-template-columns:300px;
    margin-left:15%;
  }
  
  #album-cover-art {
    grid-column:1;
    height: 300px;
    width:300px;
  }
  
  .album-details {
    grid-column:2;
  }
  
  #album-title {
    font-size:3em;
    margin:0;
  }
  
  .artist {
    font-size:2em;
    font-weight:normal;
    margin:0;
  }
  
  #release-info {
    font-size:1em;
    margin:0;
  }