body {
  background: rgb(31, 30, 30);
  margin: 0;
}

header {
  height:200px;
  text-align:left; 
  height: 100%;
  width:15%;
  top:0;
  position:fixed;
}

body, header, nav, a {
  color:white;
}

.left {
  width: 20%;
  float: left;
}
.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {    
  margin: 1px 0;
  border: 1px solid #999;
  list-style:none;
}

