.landing {
    font-size:6em;
    margin: 0 0 0 2%;
}

.selling-points {
    margin-top:100px;
}

.point-title {
    padding-bottom:20px;
    padding-top:20px;
}

.point-description {
    color:#121420;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white
}
