.landing {
    margin-top:40px
}
.point-title {
    font-size:6em;
}

.point-description {
    font-size:6em;
    padding:10px;
    color:#121420;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:white;
}

