.player-bar {
    width:100%;
    bottom:0;
    position:fixed;
    height:100px;
    background:#2C2B3C;
}

#buttons {
    width:300px;
    margin:auto;
    text-align:center;
}

#buttons button {
    border: none;
    background:none;
    color:white;
    font-size:1.2rem;
    transition:all 0.2s ease;
    cursor:pointer;
}

#buttons button:hover, #buttons button:focus {
    outline:none;
}

#buttons #play-pause {
    font-size:2rem;
    margin: 0.5rem 1rem 0;
    transform: translateY(0.3rem);
}

#time-control {
    margin:0.5rem auto;
    width:50%;
}

#time-control input {
    float:left;
    width: calc(100% - 80px);
}

#time-control div,
#volume-control div {
    font-size:0.8rem;
    width:35px;
    display:block;
    float:left;
    text-align:center;
}

#volume-control {
    transform:translateY(-50%);
    top:66%;
    position:absolute;
    right:2rem;
    width:15%;
}

#volume-control div {
    font-size:0.9em;
    width:20px;
}

#volume-control input {
    float:left;
    width: calc(100% - 40px);
}
