#song-list {
    border-collapse:collapse;
    clear:both;
    font-weight:100;
    overflow:hidden;
    width:96%;
    margin-top:20px;
    margin-left:2%;
  }
  
  #song-number-column {
    width:40px;
  }
  
  #song-duration-column {
    width:80px;
  }
  
  tr {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    background: hsla(0, 0%, 0%, 0.01);
    transition: all 0.2s ease;
  }
  
  tr:last-child {
    border:none;
  }
  
  
  tr .ion-play,
  tr .ion-pause,
  tr:hover .song-number {
    display:none;
  }
  
  tr:hover .ion-play {
    display:block;
  }
  
  tr button,
  tr:focus button {
    border:none;
    background:none;
    cursor:pointer;
    color:white;
    padding:0;
    outline:none;
  }
  
  td{
    padding: 0.75rem;
  }
  
  .song-number {
    color: hsla(0, 0%, 100%, 0.66);
  }
  
  .song-title {
    color: hsla(0, 0%, 100%, 0.9);
  }
  
  .song-duration {
    color: hsla(0, 0%, 100%, 0.5);  
    text-align: right;
  }
  
  .spacer {
    height:200px;
  }